.rectangle2 {
    position: relative;
    height: 90px;
    width: 85%;
    background-color: #1193e6;
    display: flex;
            justify-content: center;
            align-items: center;
    
}

.rec{ 
    color: white;
       
}
.rectangle2:before {
    position: absolute;
    content: '';
    height: 90px;
    width: 40%;
    background-color:#1193e6;
    top: 0;
    right: -40px;
    transform: skewX(-35deg);
    
}
.rectangle3 {
    position: relative;
    height: 70px;
    width: 90%;
    background-color: rgb(39, 40, 42);
   
}
.rectangle3:before {
    position: absolute;
    content: '';
    height: 70px;
    width: 40%;
    background-color:rgb(39, 40, 42);
    top: 0;
    left: -40px;
    transform: skewX(-35deg);
    
}

.rectangle1 {
    position: relative;
    height: 70px;
    width: 90%;
    background-color: #1193e6;
}

.rectangle1:before {
    position: absolute;
    content: '';
    height: 70px;
    width: 90%;
    background-color: #1193e6;
    top: 0;
    left: -40px;
    transform: skewX(35deg);
    
}
.rectangle {
    height: 70px;
    width: 50px;
    background-color:#5cb4ec;
    transform: skewX(35deg);
}
.rectanglee {
    height: 70px;
    width: 50px;
    background-color: #39a8ec;
    transform: skewX(35deg);
}

img{
    height: 70px;
    width: 100%;
}