.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero_left {
    padding-left: 50px;
    font-family: sans-serif;
}

.hero_left h1 {
    font-size: 32px;
}

.hero_left p {
    font-size: 16px;
}

.hero_left button {
    border-radius: 1rem;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.hero_right img {
    max-width: 30vw;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .hero_right img {
        max-width: 100vw;
        margin-top: 20px;
    }

    .hero_left p {
        text-align: center;
    }

    .hero_left {
        margin-top: 20px;
        padding-left: 0px;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}